
.has-multiple-style-rules{
  background-color: white;
  color: #333;
  font-size: 3em !important;
}
#test .has-multiple-style-rules{
  background-color: blue;
  line-height: 1.6;
  font-size: 1em;
}

#test .has-style-attribute{
  background-color: black;
}
